<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--<add key="plctype" value="siemens" />-->
		<add key="ModbusDianBiaoIP" value="192.168.0.11" />
		<add key="ModbusDianBiaoPort" value="502" />
		<add key="HoughRho_Carboon" value="0.5" />
		<add key="HoughTheta_Carboon" value="360" />
		<add key="HoughThreshold_Carboon" value="180" />
		<add key="CannyParm_Carboon" value="150" />
		<add key="ErZhiHuaParm_Carboon" value="100" />
		<add key="CannyParm2_Carboon" value="210" />
		<add key="Line_mid" value="2.551" />
		<add key="HoughRho_Alum" value="0.5" />
		<add key="HoughTheta_Alum" value="360" />
		<add key="HoughThreshold_Alum" value="150" />
		<add key="CannyParm_Alum" value="150" />
		<add key="ErZhiHuaParm_Alum" value="100" />
		<add key="CannyParm2_Alum" value="200" />
		<add key="CarboonBlackExposure" value="30000" />
		<add key="AlumExposure" value="30000" />
		<add key="CarboonWhiteExposure" value="170000" />
		<add key="HoughRho_CarboonWhite" value="0.5" />
		<add key="HoughTheta_CarboonWhite" value="360" />
		<add key="HoughThreshold_CarboonWhite" value="150" />
		<add key="CannyParm_CarboonWhite" value="150" />
		<add key="ErZhiHuaParm_CarboonWhite" value="100" />
		<add key="CannyParm2_CarboonWhite" value="200" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>